<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    @await RenderSectionAsync("styles", false)
</head>
<body>

    <div class="container my-5">
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery-3.5.1.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>

    <script>
        var validationClasses = {
            validClass: "is-valid",
            errorClass: "is-invalid"

        };
        $.validator.setDefaults(validationClasses);
        $.validator.unobtrusive.options = validationClasses;
    </script>
    @await RenderSectionAsync("scripts",false) 
</body>
</html>
